* {
    margin: 0px;
    padding: 0px;
}

table tr td {
    width: 50px;
    height: 50px;
}

.color1 {
    background-color: blue;
}

.color1:hover {
    background-color: cornflowerblue;
}

.color2 {
    background-color: red;
}

.color2:hover {
    background-color: rgb(207, 69, 97);
}